services:
  - type: web
    name: cloudstore-backend
    env: node
    rootDir: .
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: NODE_ENV
        value: production
